
// banner img
.wp-block-cover__background {
    background-size: contain !important; /* Ensures the entire image is visible */
    background-position: center center !important; /* Centers the image */
    background-repeat: no-repeat !important; /* Prevents repeating the image */
    height: 70vh; /* Adjust this value to show more or less of the image */
}

/* Adjusting the .wp-block-cover height */
.wp-block-cover {
    height: 70vh; /* Controls the height of the entire banner */
    min-height: auto !important; /* Ensures no default min-height applies */
}

// banner img text

.has-text-align-left.has-black-color.has-text-color.has-source-serif-pro-font-family{
    position: absolute;
    left: 10px;
}