header.header {
  * {
    font-family: $main-title-font;
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
  }

  background-color: #0693e3;
  display: flex;
  justify-content: center;   // Horizontally centers the content in the header
  align-items: center;       // Vertically centers the content in the header
  height: 70px;           // Set a height to ensure vertical centering works
  width: 100%;
  .menu {
    ul {
      display: flex;
      justify-content: center;  // Horizontally centers the menu items
      align-items: center;      // Vertically centers the menu items
      margin: 0;                // Remove any default margin
      padding: 0;               // Remove any default padding
      list-style: none;         // Ensure there's no list-style in case it's overridden elsewhere
    }

    li {
      margin: 0 1rem;           // Adds spacing between menu items (adjust as needed)
      display: flex;
      align-items: center;      // Vertically centers content within the list items
      padding: 0.2rem 0.5rem;     // Adds padding inside each menu item
      border: 1px solid black;  // Adds a solid black border
      border-radius: 10px;      // Smoothens the corners with a slight radius
      background-color: yellow; // Sets the background color to yellow
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); // Adds a subtle shadow for depth
    }

    a {
      text-decoration: none;
      color: black;                  // Ensures the links are black
      display: block;
      padding: 8px 16px;             // Adds padding around the links for a clickable area
      transition: transform 0.3s ease, color 0.3s ease; // Smooth zoom effect on hover
    }
    
    a:hover {
      transform: scale(1.1);         // Zoom in slightly (adjust the value for desired effect)
      color: black;                 // Change text color on hover
    }
  }

}
.top-header {
  background-color: #0693e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-title-font;
  height: 2.5rem;
  padding-top: 1%;

  .Logo {
    font-size: 2rem;
    color: yellow;

    a {
      text-decoration: none;
      color: inherit;
      position: relative;      // Set the position to relative for the pseudo-element
    }

    a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;              // The height of the underline
      background-color: #ffff00; // Underline color
      left: 0;
      bottom: -2px;             // Position the underline just below the text
      transition: width 0.3s ease;  // Smooth transition for the underline width
    }

    a:hover::after {
      width: 100%;              // Expands the underline to full width on hover
    }
  }
}