
// top: 32px;
.top-header {
  background-color: #0693e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-title-font;
  height: 5rem;  /* Adjust for top-header height */
  padding: 0 1.5rem;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0px;  /* Account for admin bar */
}


// top: calc(5rem + 32px);
header.header {
  position: fixed;
  top: calc(5rem + 0px);  /* Adjusts for top-header and admin bar */
  left: 0;
  width: 100%;
  z-index: 9998;
  background-color: #0693e3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;  /* Adjust header height */
  padding: 0 2rem;

  .menu {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      font-family: $main-title-font;
      margin: 0 1.5rem;
      display: flex;
      align-items: center;
      padding: 0.4rem 0.8rem;
      border: 1px solid black;
      border-radius: 10px;
      background-color: yellow;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    a {
      text-decoration: none;
      color: black;
      padding: 10px 20px;
      transition: transform 0.3s ease, color 0.3s ease;
    }

    a:hover {
      transform: scale(1.1);
      color: black;
    }
  }
}

.top-header .Logo {
  font-size: 2.5rem;
  color: yellow;

  a {
    text-decoration: none;
    color: inherit;
    position: relative;
  }

  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ffff00;
    left: 0;
    bottom: -2px;
    transition: width 0.3s ease;
  }

  a:hover::after {
    width: 100%;
  }
}
