@media (max-width: 479px) {

  body {
      margin: 0; /* Remove negative margin to prevent overflow */
      display: flex;
      flex-direction: column; /* Ensure a vertical layout */
      margin-top: -95px !important;
  }

  /* Mobile menu */
  .mob-menu-logo-holder {
      background-color: yellow;
      border-bottom: 2px solid blue;
  }

  .headertext span{
    color: blue;
  }

  .mob-icon-menu:before{
    color: blue;
  }

  /* Header */
  .top-header {
      display: none;
  }

  .primary-menu {
      display: none;
  }

  .header {
      flex-direction: column; /* Stack header items vertically */
      text-align: center;
      display: none !important;
  }

  /* Layout */
  .woocommerce-breadcrumb {
      display: none;
  }

  .wp-block-cover__image-background.wp-image-198 {
      object-fit: fill !important;
  }

  .wp-block-group.is-nowrap.is-layout-flex {
      padding: 0;
      width: 90%; /* Make it flexible for all devices */
      margin: 40px auto; /* Center content dynamically */
  }

  p {
      font-size: 12px;
  }

  .wp-image-196 {
      width: 90%; /* Fit within the viewport */
  }

  /* Lower banner */
  .wp-block-buttons.is-content-justification-center.is-layout-flex {
      width: 90%; /* Flexible width */
  }

  /* Product page */
  .wp-post-image {
      width: 95% !important;
      height: auto !important;
      box-shadow: unset !important; 
      margin: 10px auto; /* Center image */
  }

  .summary.entry-summary {
      float: none;
      width: 90%; /* Flexible width */
      max-width: 330px; /* Limit width */
      margin: 0 auto; /* Center */
  }

  .woocommerce-Tabs-panel {
      width: 90%;
      max-width: 330px !important;
      margin: 0 auto; /* Center content */
  }

  /* Cart */
  .wc-block-cart-items {
      width: 97% !important;
      max-width: 380px !important;
      margin: 10px auto !important;
      background-color: white !important;
      font-weight: bold;
      border-radius: 2% !important;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
  }

  .wc-block-components-sidebar {
    width: 97% !important;
    max-width: 380px !important;
      margin: 10px auto !important;
      background-color: white !important;
      font-weight: bold;
      padding: 2% !important;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
  }

  .wc-block-cart-items.wp-block-woocommerce-cart-line-items-block{
    width: 97% !important;
    max-width: 380px !important;
    margin: 10px auto !important;
    background-color: white !important;
    font-weight: bold;
    padding: 2% !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
  }

  .wc-block-cart__submit-container {
      position: unset !important;
  }

  .wc-block-cart-items tbody tr:nth-child(2) {
      border-bottom: none !important;
  }
  .wc-block-components-main.wc-block-cart__main.wp-block-woocommerce-cart-items-block{
    width: unset !important;
    margin-left: unset !important;
    font-family: sans-serif !important;
    }
    // .wc-block-components-product-metadata{
    //     display: none !important;
    // }


  /* Checkout */
  .shop_table.woocommerce-checkout-review-order-table {
        width: 97% !important;
        max-width: 380px !important;
      margin: 10px auto !important;
      background-color: white !important;
      font-family: sans-serif !important;
      font-weight: bold;
  }

  .form-row.notes {
        width: 97% !important;
        max-width: 380px !important;
      margin: 10px auto !important;
      background-color: white !important;
      font-weight: bold;
      border-radius: 2%;
      text-align: center !important;
  }

  .woocommerce table.shop_table td {
      padding: 12px 6px !important;
  }
  .woocommerce table.shop_table th{
    padding: 3px 6px !important;
  }
  .woocommerce table.shop_table{
    text-align: center !important;
  }
  .woocommerce td.product-name dl.variation{
    display: none !important;
  }


  /* Footer */
  .contact-info {
      text-align: center;
  }

  footer {
      // width: 100%; 
      font-weight: bold;
      margin-top: 1% !important;
  }
  
  body.woocommerce-cart .wp-block-heading.has-text-align-center {
    margin-bottom: 6%;
}

  body.woocommerce-cart footer {
      margin-top: 140px;
  }

  /* Other */
  .wc-block-grid.wp-block-product-new.wc-block-product-new.has-4-columns {
      display: none;
  }
  .is-layout-flex > * {
    font-size: 12px !important;
  }

  .site-main{
    margin-bottom: -3% !important;
}
  .wc-block-featured-product.alignnone.wp-elements-5a6304966f8fca45738071a133231208.has-text-color.has-white-color.wp-block-woocommerce-featured-product{
    min-height: 220px !important;
}
.wc-block-featured-product__price{
    display: none !important;
}




// MC
.has-text-align-right.text1.has-black-color.has-text-color{
    font-size: 70px !important;
    font-style: italic !important;
    font-weight: 800 !important;
    letter-spacing: -4px !important;
    line-height: 0.8 !important;
    text-transform: none !important;
}

.has-text-align-right.text2.has-black-color.has-text-color{
    font-size: 30px !important;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 0.8;
    text-transform: none;
}

// bil / Hästar / hund / katt
.has-text-align-left.text1.has-text-color.has-large-font-size{
    font-size: 70px !important;
    font-style: italic !important;
    font-weight: 800 !important;
    letter-spacing: -4px !important;
    line-height: 0.8 !important;
    text-transform: none !important;
}
.has-text-align-left.text2.has-text-color.has-large-font-size{
    font-size: 30px !important;
    font-style: italic !important;
    font-weight: 800 !important;
    letter-spacing: -4px !important;
    line-height: 0.8 !important;
    text-transform: none !important;
}
  .has-text-align-center.brödtext1{
    width: 60% !important;
    text-align: center !important;
    font-size: 12px !important;
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: 0.5px !important;
    margin-bottom: 12% !important;
    margin-left: 20% !important;
}

.wp-block-group.is-nowrap.is-layout-flex {
    display: flex !important;
    flex-direction: column !important;
}

.wp-block-group.is-nowrap.is-layout-flex img {
    order: -1; /* Moves all images to the top */
}

.wp-block-group.is-nowrap.is-layout-flex p {
    order: 1; /* Moves all text elements to the bottom */
}


// bild gap på mobil view
.wp-block-group.is-content-justification-center.is-nowrap.is-layout-flex.wp-container-core-group-is-layout-2.wp-block-group-is-layout-flex{
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
    gap: 0px !important;
    padding: 10px !important;
    }

    .wp-block-group.is-nowrap.is-layout-flex.wp-container-core-group-is-layout-3.wp-block-group-is-layout-flex{
        display: flex !important;
        width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 auto !important;
        gap: 0px !important;
        padding: 10px !important;
    }

    .wp-block-group.is-nowrap.is-layout-flex.wp-container-core-group-is-layout-4.wp-block-group-is-layout-flex{
        display: flex !important;
        width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 auto !important;
        gap: 0px !important;
        padding: 10px !important;
    }

    .wp-image-336{
        width: 300px !important;
        height: auto !important;
    }

    .wp-block-separator.has-alpha-channel-opacity {
        width: 65% !important;
        color: #7a9bd3;
        margin-bottom: 10%;
}


//tack brev 

.woocommerce-order-details{
    margin-bottom: 2em !important;
    width: unset !important;
    margin-left: unset !important;
}

.woocommerce ul.order_details li {
    float: unset !important;
    margin-top: 10px !important;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: .715em;
    line-height: 1;
    border-right: 1px dashed #cfc8d8;
    padding-right: 2em;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;

 }
 .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details { 
    margin-left: 0% !important;
  }

  .has-text-align-center.brödtext1{
    display: none;
  }
  .wp-block-separator.has-alpha-channel-opacity{
    display: none;
  }

  .simple-banner{
    top: 0px !important;
}
 }